{% extends 'base.html.twig' %}

{% block title %}Date!{% endblock %}

{% block body %}
    <div>
      <h1 class="text-center mt-8 text-xl">Date et Heure du jour : <br> {{date}}</h1>
      <img class=" mt-8 mx-auto" src="{{asset('assets/images/horloge.gif')}}" alt="Attention gif">

    </div>
{% endblock %}
