{% extends "base.html.twig" %}

{% block body %}
    <h1  class="mt-8 text-6xl font-bold text-center">Ici c'est la Home Cat ! &#128570;</h1>
    <img class=" mt-8 mx-auto" src="{{asset('assets/images/chat.gif')}}" alt="chat gif">

{% endblock %}